$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$dark-color: #171717;
$light-color: #ededed;
$styled-font: 'Raleway', sans-serif;

@import 'sass-bootstrap/lib/bootstrap';
@import 'util';
@import url(http://fonts.googleapis.com/css?family=Raleway);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  background-image: url(/images/bricks.jpg);
}

h1, h2, h3 {
  font-weight: 400;
  font-family: $styled-font;
}

/* Custom page header */
.header {
  padding-top: 20px;
  img {
    width: 100%;
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.process-info {
  h1 {
    font-size: 90px;
  }
  h2 {
    font-size: 64px
  }
  h3 {
    font-size: 36px;
  }
}

.contact-info {
  padding-top: 58px;

  .bullet {
    font-size: 36px;
    display: block;
  }

  h1 {
    margin-top: 0;
  }

  a {
    color: $light-color;
    font-size: 36px;
    font-family: $styled-font;
  }

}

ul.hack {
  font-weight: 400;
  font-family: $styled-font;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

/* Space out the masthead */
  .header {
    .logo {
      width: 300px;
      margin: 0 auto;
    }
    padding-bottom: 20px;
  }

}

.contact-info {
  .bullet {
    display: inline-block !important;
  }
}


.dark-background {
  background-color: $dark-color;
  color: $light-color;

  .list-group-item {
    background-color: $dark-color;
  }
}

/**
 * List used for the demo page
 */
ul.hack {
  position: relative;
  //height: 480px;

  margin: 0;

  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  list-style: none;

  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  -ms-perspective: 400px;
  -o-perspective: 400px;
  perspective: 400px;
}

ul.hack li {
  position: relative;
  padding: 16px;
  font-size: 18px;
  text-align: center;
  z-index: 2;
  background-color: rgba(lighten($dark-color, 10), .7);


  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

ul.hack li:nth-child(odd) {
  background: darken($dark-color, 30);
}
